section .languages{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 10% auto;
    display: flex;
    flex-flow:wrap row;
    justify-content: space-around;
    div{
        width: 200px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: rgb(138, 138, 138) 5px 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
    }
}