section{
width: 100%;
margin:200px 0;
    article{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .card{
            width: 300px;
            ul{
                margin: 50px 0;
                width: 100%;
                display: flex;
                flex-flow: column;
                img{
                    width: 30%;
                    aspect-ratio: 1/1;
                }
                li{
                display: flex;
                justify-content: center;
                margin: 10px 0;
                padding: 0 10%;
                line-height: 1.3em;
                text-align: center;
            }
            }
            box-shadow: #8a8a8a 2px 2px 5px;
        }
    }
}